<a href="https://colab.research.google.com/github/nghiaphan177/Truyvanttdpt/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pickle
import pandas as pd 
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import numpy as np

In [ ]:
with open('News_dataset.pickle', 'rb') as data:
    df = pickle.load(data)

In [ ]:
df.head()

                                             content  category  id  News_length
0  \nTùng Dương chọn hát 12 ca khúc nhạc rock mới...  giai-tri   1         4742
1  \nH'Hen Niê, Đức Phúc... tham gia trò chơi đăn...  giai-tri   1          119
2  \nHà NộiTriển lãm “Người bay và giấc mơ siêu t...  giai-tri   1         1706
3  \nDance For Youth bắt đầu vòng Online từ 0h ng...  giai-tri   1         1835
4  \nNgọc Hân mất hai tháng may áo dài cho các th...  giai-tri   1         1572

In [ ]:
df.loc[4]['content']

'\nNgọc Hân mất hai tháng may áo dài cho các thí sinh trong đêm cuối của Hoa hậu Việt Nam 2020.\nTrong chung kết vào tối 20/11, Ngọc Hân là nhà thiết kế của phần thi áo dài và trình diễn cùng các thí sinh. Cô nói: "Tôi rất vinh dự bởi đúng dịp tròn 10 năm đăng quang Hoa hậu Việt Nam, tôi trở lại sân khấu chung kết cuộc thi ở vai trò mới. Rất cảm ơn ban tổ chức đã trao cơ hội để tôi thể hiện khía cạnh khác của mình. Đây sẽ là một kỷ niệm đặc biệt trong cuộc đời của tôi".\nBộ sưu tập áo dài của Ngọc Hân lần này còn gắn liền sự kiện 1.010 năm Thăng Long - Hà Nội. Sau khoảng hai tháng nghiên cứu tại các bảo tàng lịch sử, cô đưa cảm hứng hoa văn, họa tiết tiết gốm sứ thời Lý - Trần lên trang phục. Chủ đề này cũng từng được cô chọn cho đề án tốt nghiệp Đại học Mỹ thuật Công nghiệp cách đây chín năm. Cô nói: "Bộ sưu tập được thầy cô đánh giá cao và giúp tôi đạt thành tích top ba toàn khoa. Tôi hy vọng các thiết kế sắp tới cũng để lại dấu ấn khó quên cho giới chuyên môn và người yêu thích trang phục truyền thống".\nCách đây vài tháng, Ngọc Hân đã về làng lụa Hà Đông đặt vải. Cô tham gia vào quá trình sản xuất, từ việc lên ý tưởng thiết kế, chọn chất liệu đến cắt may, thêu họa tiết. Các mẫu áo dài vẫn giữ phom dáng truyền thống, cách tân ở phần tay và tà, nhấn bằng họa tiết thêu tay. Tuần trước, cô thử trang phục với các thí sinh.\nSau 10 năm đăng quang Hoa hậu Việt Nam, Ngọc Hân ngày càng được công chúng yêu mến về tính cách gần gũi và hình ảnh không vướng scandal. Người đẹp sinh năm 1989 sống với đam mê thiết kế thời trang, thích nấu ăn, chơi piano...\n\nÝ Ly\n\n'

## 1. Text cleaning and preparation

 **1.1. Remove unnecssary character**

In [ ]:
df['content_parsed_1'] = df['content'].replace(regex=r'[^\d\w ]', value='')

 **1.2. downcase**

In [ ]:
df['content_parsed_2'] = df['content_parsed_1'].str.lower()

In [ ]:
df.head()

                                             content  ...                                   content_parsed_2
0  \nTùng Dương chọn hát 12 ca khúc nhạc rock mới...  ...  tùng dương chọn hát 12 ca khúc nhạc rock mới c...
1  \nH'Hen Niê, Đức Phúc... tham gia trò chơi đăn...  ...  hhen niê đức phúc tham gia trò chơi đăng ảnh c...
2  \nHà NộiTriển lãm “Người bay và giấc mơ siêu t...  ...  hà nộitriển lãm người bay và giấc mơ siêu thực...
3  \nDance For Youth bắt đầu vòng Online từ 0h ng...  ...  dance for youth bắt đầu vòng online từ 0h ngày...
4  \nNgọc Hân mất hai tháng may áo dài cho các th...  ...  ngọc hân mất hai tháng may áo dài cho các thí ...

[5 rows x 6 columns]

In [ ]:
list_columns = ['content', 'category', 'content_parsed_2']
df = df[list_columns]

df = df.rename(columns={'content_parsed_2' : 'content_parsed'})

In [ ]:
df.head()

                                             content  ...                                     content_parsed
0  \nTùng Dương chọn hát 12 ca khúc nhạc rock mới...  ...  tùng dương chọn hát 12 ca khúc nhạc rock mới c...
1  \nH'Hen Niê, Đức Phúc... tham gia trò chơi đăn...  ...  hhen niê đức phúc tham gia trò chơi đăng ảnh c...
2  \nHà NộiTriển lãm “Người bay và giấc mơ siêu t...  ...  hà nộitriển lãm người bay và giấc mơ siêu thực...
3  \nDance For Youth bắt đầu vòng Online từ 0h ng...  ...  dance for youth bắt đầu vòng online từ 0h ngày...
4  \nNgọc Hân mất hai tháng may áo dài cho các th...  ...  ngọc hân mất hai tháng may áo dài cho các thí ...

[5 rows x 3 columns]

## 2. Label encoding

In [ ]:
category_codes = {'giai-tri' : 0,
                  'phap-luat' : 1,
                  'kinh-doanh' : 2}

In [ ]:
df['category_code'] = df['category']
df = df.replace({'category_code' : category_codes})

In [ ]:
df.head()

                                             content  ... category_code
0  \nTùng Dương chọn hát 12 ca khúc nhạc rock mới...  ...             0
1  \nH'Hen Niê, Đức Phúc... tham gia trò chơi đăn...  ...             0
2  \nHà NộiTriển lãm “Người bay và giấc mơ siêu t...  ...             0
3  \nDance For Youth bắt đầu vòng Online từ 0h ng...  ...             0
4  \nNgọc Hân mất hai tháng may áo dài cho các th...  ...             0

[5 rows x 4 columns]

## Train - test split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(df['content_parsed'], 
                                                    df['category_code'], 
                                                    test_size=0.15, 
                                                    random_state=8)

## Text representation

In [ ]:
# Parameter election
ngram_range = (1,2)
min_df = 10
max_df = 1.
max_features = 300

In [ ]:
tfidf = TfidfVectorizer(encoding='utf-8',
                        ngram_range=ngram_range,
                        stop_words=None,
                        lowercase=False,
                        max_df=max_df,
                        min_df=min_df,
                        max_features=max_features,
                        norm='l2',
                        sublinear_tf=True)
                        
features_train = tfidf.fit_transform(X_train).toarray()
labels_train = Y_train
print(features_train.shape)

features_test = tfidf.transform(X_test).toarray()
labels_test = Y_test
print(features_test.shape)

(51, 300)
(9, 300)

## Save to file

In [ ]:
import os

dir = os.path.join('/content', 'Pickles')

if not os.path.exists(dir):
  os.mkdir(dir)

In [ ]:
# X_train
with open('Pickles/X_train.pickle', 'wb') as output:
    pickle.dump(X_train, output)
    
# X_test    
with open('Pickles/X_test.pickle', 'wb') as output:
    pickle.dump(X_test, output)
    
# y_train
with open('Pickles/Y_train.pickle', 'wb') as output:
    pickle.dump(Y_train, output)
    
# y_test
with open('Pickles/Y_test.pickle', 'wb') as output:
    pickle.dump(Y_test, output)
    
# df
with open('Pickles/df.pickle', 'wb') as output:
    pickle.dump(df, output)
    
# features_train
with open('Pickles/features_train.pickle', 'wb') as output:
    pickle.dump(features_train, output)

# labels_train
with open('Pickles/labels_train.pickle', 'wb') as output:
    pickle.dump(labels_train, output)

# features_test
with open('Pickles/features_test.pickle', 'wb') as output:
    pickle.dump(features_test, output)

# labels_test
with open('Pickles/labels_test.pickle', 'wb') as output:
    pickle.dump(labels_test, output)
    
# TF-IDF object
with open('Pickles/tfidf.pickle', 'wb') as output:
    pickle.dump(tfidf, output)

In [ ]:
!zip Pickles.zip Pickles

  adding: Pickles/ (stored 0%)

In [ ]:
!zip -r Pickles.zip Pickles

  adding: Pickles/ (stored 0%)
  adding: Pickles/features_test.pickle (deflated 74%)
  adding: Pickles/labels_test.pickle (deflated 43%)
  adding: Pickles/X_test.pickle (deflated 64%)
  adding: Pickles/labels_train.pickle (deflated 66%)
  adding: Pickles/Y_train.pickle (deflated 66%)
  adding: Pickles/df.pickle (deflated 68%)
  adding: Pickles/.ipynb_checkpoints/ (stored 0%)
  adding: Pickles/features_train.pickle (deflated 69%)
  adding: Pickles/Y_test.pickle (deflated 43%)
  adding: Pickles/tfidf.pickle (deflated 60%)
  adding: Pickles/X_train.pickle (deflated 68%)